.container{
	background-color: #AAAAAA;
	border: 1px solid red;
	width: 500px;
	horizontal-align: center;
	y: 81%;
}

.resource{
	font-size: 28px;
	height: 32px;
	width: 40%;
	flow-children: right;
}

#energy{
	background-color: #AAAAFF;
	border: 1px solid blue;
	horizontal-align: left;
}
